body,html
{
	padding: 0;
	margin: 0;
}


.head-block,.top-menu,.top-material,.left-sidebar,.content
{
    background:#ccc;
    /* margin-bottom:1px; */
}

.head-block
{
	height: 250px;      /* head height*/
	background-image: url('h1.png');
	background-repeat: no-repeat;
	background-position: left center;
}

.top-menu
{
	height: 30px;
}

.top-material
{
	height: 200px;
}

.left-sidebar,.content
{
	height: 300px;
}

.content
{
	border-left: 1ps #fff solid;
}