@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*
{
	font-family: 'Roboto Condensed', Arial,sans-serif;
}


a
{
	display: inline-block;
}

.container
{
	width: 80%;	
	margin: 0 auto;      /* По центру*/
}


#menu
{
	background-color: #ff9700;
	height: 75px;
	line-height: 75px;
	width: 50%;
	margin: 0 auto;
	position: relative;
}

#menu::before       /*Углы в меню*/
{
	content: " ";
	position: absolute;
	border: 37px solid transparent;
	border-left-color:white;
	border-top-color:white;
}

#menu::after			
{
	content: " ";
	position: absolute;
	border: 38px solid transparent;
	border-right-color:white;
	border-top-color:white;
	left: 90.1%;
	top: 0%;
}

#menu > ul
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	overflow: hidden;
	text-align: center;
}

html,body
{
	padding: 0;
	margin: 0;
}

#menu > ul > li
{
	display: inline;
	list-style: none ;	
	font-size: 16px;
}

#menu > ul > li:last-child
{
	margin-right: 0;
}

#menu > ul > li a
{
	color: #ffffff;
	text-decoration: none;
	padding: 0 15px;
	position: relative;
	z-index: 999;
}

#menu > ul > li > a:hover
{
	color: #333;
}

#menu > ul > li > a::before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 150px;
	left:-4px;
	top:-25px;
	transform: rotate(20deg);
	background-color: white;
	z-index: -1;
	opacity: 0;
}

#menu > ul > li > a:hover::before
{
	opacity: 1;
}

#page-wrapper
{
	padding-top: 100px;
}