<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VueJs</title>

	<style>
		.for
		{
			font-size: 48px;
			color:blue;
		}
	</style>
</head>
	<body>
			<div id="app">
  				{{ message }}
  				<hello></hello>
			</div>

			<div class ="test">
				{{test}}
			</div>
			<hr>

			<div id="app2">
				<span v-bind:title="message" style="color:red;">
					<p>Hold for a few seconds</p>
				</span>
			</div>

			<div id="app3">
			  <ol>
			    <li v-for="todo in todos">
			    <span style="color:green;">
					<p>{{ todo.text }}</p>
				</span>
			    </li>
			  </ol>
			   <todo-item></todo-item>
			</div>

			<div id="app4">
				<p>{{message}}</p>
				<button @click="reverseMessage" >
					Change order letter in word
				</button>
				<hr>
				<button @click="alertMe(message)">Press</button>
			</div>

			<div id="app5">
			  <ol>
			    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
			  </ol>
			</div>


	</body>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
	<script>
		// Экземпляры Vue
		var app = new Vue({
			  el: '#app',
			  data: {
			    message: 'Hello Vue!'
			  }
			})
		var test = new Vue({
			el: '.test',
			data:{
				test: 'Zdarova, ocherednyari!'
			}
		})

		var app2 = new Vue({
			el: "#app2",
			data:{
				message: "Emm, u can see some message"
			}
		})

		var app3 = new Vue({
		  el: '#app3',
		  data: {
		    todos: [
		      { text: 'Посадить дерево' },
		      { text: 'Построить дом' },
		      { text: 'Вырастить сына' }
		    ],
		  }
		})

		var app4 = new Vue({
			el: "#app4",
			data: {
				message: "Hello igor"
			},
			methods: {
				reverseMessage: function()
				{
					this.message = this.message.split('').reverse().join('');
				},

				alertMe: function(message)
				{
					alert("hello" + message);
				}
			}
		})


		// Жизненные хуки экземпляра

		var vm = new Vue({
			data: {
				a: 1
			},

			created: function()
			{
				console.log('Value a = ' + this.a);
			}
		})
		// Компоненты Vue

		Vue.component('todo-item', {
		  props: ['todo'],
		  template: '<li class="for">{{todo.text}} - {{todo.price}}</li>'
		})
		var app7 = new Vue({
		  el: '#app5',
		  data: {
		    groceryList: [
		      { text: 'Овощи', price: 1},
		      { text: 'Сыр', price: 2 },
		      { text: 'Что там ещё люди едят?', price: 3}
		    ]
		  }
		})



	</script>
</html>