<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Watch</title>
</head>
	<body>
	<div id="watch-example">
		  <p>
		    Задайте вопрос, на который можно ответить "да" или "нет":
		    <input v-model="question">
		  </p>
		  <p>{{ answer }}</p>
	</div>
	</body>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
	<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
	<script>
		var watchExampleVM = new Vue({
	  el: '#watch-example',
	  data: {
	    question: '',
	    answer: 'Пока вы не зададите вопрос, я не могу ответить!'
	  },
	  watch: {
	    question: function (newQuestion) {
	      this.answer = 'Ожидаю, когда вы закончите печатать...'
	      this.getAnswer()
	    }
	  },
	  methods: {
	    getAnswer: _.debounce(
	      function () {
	        if (this.question.indexOf('?') === -1) {
	          this.answer = 'Вопросы обычно заканчиваются вопросительным знаком. ;-)'
	          return
	        }
	        this.answer = 'Думаю...'
	        var vm = this
	        axios.get('https://yesno.wtf/api')
	          .then(function (response) {
	            vm.answer = _.capitalize(response.data.answer)
	          })
	          .catch(function (error) {
	            vm.answer = 'Ошибка! Не могу связаться с API. ' + error
	          })
	      },
	      // Это число миллисекунд, которое мы ждем, после того как пользователь прекратил печатать:
	      1
	    )
	  }
	})
</script>

</html>