@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&subset=cyrillic');

/*
 *  fix yellows input (ty webkit)
 */

input {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #999 !important;
    color: #999 !important;
}

/*
 *  end fix
 */


/* Core styles */
.Login__box {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0078B8;
}

.Login__input {
    background: white !important;
    display: block;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 90%;
    border: none;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    outline: none;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: #d2d3d5;
}
::-moz-placeholder {
    color: #d2d3d5;
}
:-ms-input-placeholder {
    color: #d2d3d5;
}
:-moz-placeholder {
    color: #d2d3d5;
}

.Login__main {
    padding: 10%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, #0078B4,#008BC7);
    color: white;
}

.Login__main > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.Login__main > button {
    background: linear-gradient(to top, #00A13C, #00C746);
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    min-height: 40px;
    outline: none;
}

.Login__main > img {
    margin: 20px;
}


.Login__main > a {
    margin: 15%;
    color: #00C846;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
}
.Login__main > a:hover {
    color: #00E646;
}

.Login__footer {
    text-align: center;
    width: 100%;
}

.Login__footer > button {
    margin-top: 30%;
    background-color: transparent;
    border-radius: 11px;
    border: 2px #D8FCFF solid;
    padding: 13px;
    color: white;
    width: 60%;
    font-size: 18px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 5%;
}

.Login__footer > button > a {
    text-decoration: none;
    color: #D8FCFF;
}

.Login__main > button:hover {
    background: linear-gradient(to top, #00C946,#00E546);
}


.Login__footer > button:hover {
    border-color: #00E646;
}

.Login__footer > button:hover > a {
    color: #00E646;
}


.Login__passed {
    border: 1px solid #00C587;
}

.Login__failed {
    border: 1px solid red;
}

/* end core styles*/

/* styles for modal window */
.Login__modal__open {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 298px;
    height: 178px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.Login__modal__close {
    display: none;
}

.Login__modal--header {
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 4%;
    padding-right: 4%;
}
.Login__modal--header > button {
    background-color: transparent;
    transform: rotate(90deg);
    color: #00C846;
    border: none;
}

.Login__modal--body > p {
   margin-top: 1%;
   color: #505050;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 17px;
}

.Login__modal--footer > p {
    color: #00C846;
}

/* end styles for modal window*/
/* Media */
@media screen and (max-height: 640px) {
    .Login__footer > button {
        margin-top: 0%;
    }
}


