@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Ubuntu');

*::selection{
	color: rgb(57, 171, 111);
	/* background-color: white; */
}

.centered
{
	text-align: center;
}

.hide
{
	display: none;
}


/* ==== CORE STYLE ==== */

.navbar 
{
    background-color: rgba(0, 0, 0, 0.4);
    border-color: transparent;
}

a.navbar-brand

{
	font-family: 'Oswald', sans-serif !important;
	color: white !important;
	text-transform: uppercase;
}


.nav  a
{
	font-family: 'Ubuntu', sans-serif !important;
	color: white !important;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 12px;
	font-weight: 800;
	transition: .2s;
}


.nav  a:hover
{
	color: #888 !important;
	transition: .2s;
}

.nav li:nth-child(1) > a
{
	 border-bottom: 1px solid rgb(57, 171, 111);
     padding: 5px 0px;
     margin: 10px 20px 10px 20px;
}


#home{
	min-height: 100vh;
	padding-top: 200px;
	background-image: url('assets/img/promo.png');
	background-repeat: no-repeat;
	background-size:  cover;
	background-position: center center;
}

#home:before{
    content: " ";
    top: 0;
    width: 100% ;
    height: 100% ;
    left: 0;
    position: absolute; 
    background: rgba(81,87,105,.7) !important;
}

#home h1,
#home h2{
	color: white;
	font-family: 'Oswald', sans-serif !important;
}

#home h1{
	font-size: 56px;
}

#home h2{
	margin-top: 100px;
	font-size: 34px;
}

#faq{
	padding-top: 40px;
	padding-bottom: 40px;
}

.faq-item{
    border-left: 4px solid #f66;
    background-color: #f8f8f8;
    margin-bottom: 30px;
}



#heart{
	color: red !important;
}



#parallax{
	min-height: 100%;
	position: relative;
	padding: 100px 15px;
	/* background-image: url('assets/img/02.jpg'); */
	background-size: cover;
	color: #222;
}

#lection{
	min-height: 100vh;
}


/* ==== MEDIA ====*/
@media (max-width: 780px)
{
	.navbar
	{
		display: block;
		height: 60px;
	}
}

 /* ==== FONTS ==== */
