html {
  height: 100%;
}
body {
  margin: 0 auto;
  height: 100%;
  font: 14px/24px Arial, Tahoma, sans-serif;
  background-color: #ebebeb;
  width: 1250px;
}
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.box {
  max-width: 100%;
  margin: 0 auto;
}
header {
  position: relative;
  padding: 10px;
  background: #ffffff;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  float: left;
}
.nav {
  float: right;
}
.nav li {
  float: left;
}
.nav li a,
#touch-menu {
  display: block;
  padding: 12px 15px;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}
.nav li a:hover,
#touch-menu:hover {
  border-bottom: 3px #5094f2 solid;
}
#touch-menu {
  display: none;
}
@media (max-width: 1024px) {
  body {
    padding: 60px;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
  .logo img {
    height: 30px;
  }
  .logo {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
  }
  .nav li {
    float: none;
  }
  .nav li a {
    color: #333333;
    border-top: 1px solid #eee;
    border-left: 3px solid transparent;
    background: #fff;
  }
  .nav li:first-child a {
    border-top: none;
  }
  .nav li a:hover {
    border-bottom: 3px #5094f2 solid;
  }
  #touch-menu {
    display: block;
    float: right;
    height: 50px;
    margin: -10px 0;
  }
}
img {
  height: auto;
  width: 100%;
}
.picture {
  position: relative;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}
