body
{
  margin:0;
  color:#6a6f8c;
  background:#B33432;
  font:600 16px/18px 'Open Sans',sans-serif;
}

*
{
  box-sizing:border-box
}

a
{
  color:inherit;text-decoration:none
}

.login-wrap
{
  width:100%;
  margin:auto;
  max-width: 40%;
  min-height:670px;
  position:relative;
  background:url(freelance-1024x683.jpg) no-repeat center;
  background-size: cover;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html
{
  width:100%;
  height:100%;
  position:absolute;
  padding:90px 70px 50px 70px;
  background-color: rgba(0 , 0 , 0, 0.6);
}


.login-html .sign-in-htm,
.login-html .sign-up-htm
{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateX(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}


.login-html .sign-in,
.login-html .sign-up
{
  display:none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button
{
  text-transform:uppercase;
}

.login-html .tab
{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab
{
  color:#aaa;
  border-color:rgba(0 , 0 , 0, 0.5);
}

.login-form
{
  min-height:345px;
  position:relative;
}

.login-form .group
{
  margin-bottom:15px;
}


.login-form .group .label,
.login-form .group .input,
.login-form .group .button
{
  width:100%;
  color:#fff;
  display:block;
}

.login-form .group .input,
.login-form .group .button
{
  /* border:none; */
  border-color: rgba(255,255,255,0.1);
  padding:15px 20px;
  border-radius:25px;
  background:rgba(255,255,255,0.1);
}

.login-form .group .label
{
  color:#fff;
  font-size:12px;
}

.login-form .group .button
{
  background-color: rgba(0 , 0 , 0, 0.6);
  transition: 0.2s;
}

.button:hover
{
  background-color: rgba(0 , 0 , 0, 0.9) !important;
  transition: 0.2s;
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  -webkit-transform:rotate(0);
          transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  -webkit-transform:rotate(0);
          transform:rotate(0);
}

.hr
{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.1);
}

.foot-lnk
{
  text-align:center;
  transition: 0.3s;
}

.foot-lnk:hover
{
  color: white;
  transition: 0.3s;
}


*:focus
{
  outline: none;
}

.facebook
{
  background-color: rgba(19, 55, 131, .2) !important;
  text-transform:uppercase;
  transition: .3s;
  filter: blur(1px);
}

.facebook:hover
{
  background-color: rgba(19, 55, 131, .3) !important;
  filter: none;
  transition: .3s;
}

.google
{
   background-color: rgba(204, 24, 30, .2) !important;
  text-transform:uppercase;
  transition: .3s;
  filter: blur(1px);
}

.google:hover
{
  background-color: rgba(204, 24, 30, .3)!important;
  filter: none;
  transition: .3s;
}
/* 
.or:before
{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,.1);
  position: absolute;
  top: 50%;
  z-index: 0;
}

.or
{
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  position: relative;

  color: rgba(255,255,255,.5);
}

.or span
{
  position: relative;
  z-index: 2 !important;
  text-transform: uppercase;
} */