/* optional */

body,html
{
  padding: 0;
  margin: 0;
}


/* test fixed white area  */

/* h1
{
	padding: 0;
	margin: 0;
} */

h1
{
	display: inline-block;
	font-weight: 200;
	color: gold;
}
/* finish test */


.after
{
	display: flex;
	min-height: 100vh;
	width: 100%;
	background-color: #80AFD1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.wrapper
{
	width: 100%;
	min-height: 100vh;
}


.left
{
	display: flex;
	width: 50%;
	min-height: 100vh;
	float: left;
	background-color: #D18E80;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.right
{
	display: flex;
	min-height: 100vh;
	width: 50%;
	/* float: right; */
	background-color: #8CD180;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}





/* Adaptive solution */

@media screen and (max-width: 320px){
	.right
	{
		clear: both;
		width: 100%;
	}
	.left
	{
		width: 100%;
	}
}