body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #DF8F7C;
    width: 100%;
    height: 100%;
    /* display: flex; */
}

.main {
    width: 100%;
    height: 100%;
    min-height: 100vh;         /* Important! U must  indicate div size*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first, .second, .third {
    text-align: center;
}


/* piece information under img */

#info
{
	font-size: 2em;
	color: #E54E2A;
	font-weight: 800;
	border-top: 2px #fff solid;
	border-bottom: 2px #fff solid;
}

/* adaptive font-size */

body {
    font-size: 100%;
    /* start with a flexible baseline, more on this in the next section */
}

h1 {
    font-size: 3em;
}

@media screen and (max-width: 50em) {
    h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 40em) {
    h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 30em) {
    h1 {
        font-size: 2em;
    }
}
