<!DOCTYPE html>
<html ng-app="kvrozklad">

<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>KVrozklad</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script> -->
    <script src="angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <a href="#" data-toggle="modal" data-target="#basicModal" class="btn btn-md btn-default ">Информация</a>
                <div id="basicModal" tabindex="-1" role="dialog" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" data-dismiss="modal" class="close">x</button>
                                <center>
                                    <h2 id="myModalLabel" class="modal-title">Информация</h2>
                                </center>
                                <div class="modal-body">
                                    <h4>Зачем?  Просто так <span style="color:red"> <3 </span></h4>
                                    <hr>
                                    <h4>Для кого? ЭлитКа Вэ 51</h4>
                                    <hr>
                                    <center>
                                        <h3>Всем любви на этом сайтике <span style="color:red"> <3 </span> </h3></center>
                                    <br>
                                    <div class="alert alert-info">
                                        Идейный вдохновитель: <a href="https://vk.com/fowi3">Николай 'Fowi:3' Симотюк</a>
                                        <br> Реализация: <a href="https://vk.com/idgeser">Игорь Гесер</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <img src="7.png" alt="maslou"> -->
                <div class="First" ng-controller='FirstCtrl'>
                    <center>
                        <h1>Первая неделя</h1>
                    </center>
                    <!-- <h1 ng-controller="DateCtrl">qeq</h1> -->
                    <div class="table-responsive" ng-init="time = {{time}}">
                        <table class="table table-hover  table-bordered table-container">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="day">Понедельник</th>
                                    <th class="day">Вторник</th>
                                    <th class="day">Среда</th>
                                    <th class="day">Четверг</th>
                                    <th class="day">Пятница</th>
                                    <th class="day">Суббота</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <center>Первая пара <br>8:30
                                            <div class="timeline"></div>10:05</th>
                                    </center> {{Monday.First.lesson}}
                                    <td ng-class="{'date': time == 1}"><b>{{Monday.First.lesson}}</b><br />{{Monday.First.teacher}} <br /> {{Monday.First.room}}{{Monday.First.build}} <br><br><b>{{Monday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 2}"><b>{{Tuesday.First.lesson}}</b><br />{{Tuesday.First.teacher}}<br /> {{Tuesday.First.room}}{{Tuesday.First.build}}<br><br><b>{{Tuesday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.First.lesson}}</b><br />{{Wednesday.First.teacher}}<br /> {{Wednesday.First.room}}{{Wednesday.First.build}} <br><br><b>{{Wednesday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.First.lesson}}</b><br />{{Thursday.First.teacher}}<br /> {{Thursday.First.room}}{{Thursday.First.build}}<br><br><b>{{Thursday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.First.lesson}}</b><br />{{Friday.First.teacher}}<br /> {{Friday.First.room}}{{Friday.First.build}}<br><br><b>{{Friday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.First.lesson}}</b><br />{{Saturday.First.teacher}}<br /> {{Saturday.First.room}}{{Saturday.First.build}}<br><br><b>{{Saturday.First.type}}</b></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <center>Вторая пара <br>10:25
                                            <div class="timeline"></div>12:05</th>
                                    </center>
                                    <td ng-class="{'date': time == 1}"><b>{{Monday.Second.lesson}}</b><br />{{Monday.Second.teacher}}<br /> {{Monday.Second.room}}{{Monday.Second.build}}<br><br><b>{{Monday.Second.type}}</b></td>
                                    <td ng-class="{'date': time == 2}"> <b>{{Tuesday.Second.lesson}}</b> <br />{{Tuesday.Second.teacher}} <br />{{Tuesday.Second.room}}{{Tuesday.Second.build}}<br><br>{{Tuesday.Second.type}}</b>
                                    </td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.Second.lesson}}</b><br />{{Wednesday.Second.teacher}}<br /> {{Wednesday.Second.room}}{{Wednesday.Second.build}}<br><br>{{Wednesday.Second.type}}</b>
                                    </td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.Second.lesson}}</b><br />{{Thursday.Second.teacher}}<br /> {{Thursday.Second.room}}{{Thursday.Second.build}}<br><br>{{Thursday.Second.type}}</b>
                                    </td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.Second.lesson}}</b><br />{{Friday.Second.teacher}} <br />{{Friday.Second.room}}{{Friday.Second.build}}<br><br><b>{{Friday.Second.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.Second.lesson}}</b><br />{{Saturday.Second.teacher}}<br /> {{Saturday.Second.room}}{{Saturday.Second.build}}<br><br><b>{{Saturday.Second.type}}</b></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <center>Третья пара <br>12:20
                                            <div class="timeline"></div>13:55</th>
                                    </center>
                                    <td ng-class="{'date': time == 1}"> <b>{{Monday.Third.lesson}}</b> <br />{{Monday.Third.teacher}}<br /> {{Monday.Third.room}}{{Monday.Third.build}}<br><br><b>{{Monday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 2}"><b>{{Tuesday.Third.lesson}}</b> <br />{{Tuesday.Third.teacher}} <br />{{Tuesday.Third.room}}{{Tuesday.Third.build}}<br><br><b>{{Tuesday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.Third.lesson}}</b> <br />{{Wednesday.Third.teacher}} <br />{{Wednesday.Third.room}}{{Wednesday.Third.build}}<br><br><b>{{Wednesday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.Third.lesson}}</b> <br />{{Thursday.Third.teacher}} <br />{{Thursday.Third.room}}{{Thursday.Third.build}}<br><br><b>{{Thursday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.Third.lesson}}</b> <br />{{Friday.Third.teacher}} <br />{{Friday.Third.room}}{{Friday.Third.build}}<br><br><b>{{Friday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.Third.lesson}}</b> <br />{{Saturday.Third.teacher}}<br /> {{Saturday.Third.room}}{{Saturday.Third.build}}<br><br><b>{{Saturday.Third.type}}</b></td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <center>Четвертая пара <br>14:15
                                            <div class="timeline"></div>15:50</th>
                                    </center>
                                    <td ng-class="{'date': time == 1}"><b>{{Monday.Fourth.lesson}}</b> <br />{{Monday.Fourth.teacher}} <br />{{Monday.Fourth.room}}{{Monday.Fourth.build}}<br><br><b>{{Monday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 2}"><b>{{Tuesday.Fourth.lesson}}</b> <br />{{Tuesday.Fourth.teacher}} <br />{{Tuesday.Fourth.room}}{{Tuesday.Fourth.build}}<br><br><b>{{Tuesday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.Fourth.lesson}}</b> <br />{{Wednesday.Fourth.teacher}}<br /> {{Wednesday.Fourth.room}}{{Wednesday.Fourth.build}}<br><br><b>{{Wednesday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.Fourth.lesson}}</b> <br />{{Thursday.Fourth.teacher}}<br /> {{Thursday.Fourth.room}}{{Thursday.Fourth.build}}<br><br><b>{{Thursday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.Fourth.lesson}}</b> <br />{{Friday.Fourth.teacher}}<br /> {{Friday.Fourth.room}}{{Friday.Fourth.build}}<br><br><b>{{Friday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.Fourth.lesson}}</b> <br />{{Saturday.Fourth.teacher}}<br /> {{Saturday.Fourth.room}}{{Saturday.Fourth.build}}<br><br><b>{{Saturday.Fourth.type}}</b></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <center>Пятая пара <br>16:10
                                            <div class="timeline"></div>17:45</th>
                                    </center>
                                    <td ng-class="{'date': time == 1}"><b>{{Monday.Fifth.lesson}} </b><br />{{Monday.Fifth.teacher}} <br />{{Monday.Fifth.room}}{{Monday.Fifth.build}} <br><br><b>{{Monday.Fifth.type}}</b> </td>
                                    <td ng-class="{'date': time == 2}"><b>{{Tuesday.Fifth.lesson}} <br />{{Tuesday.Fifth.teacher}}<br /> {{Tuesday.Fifth.room}}{{Tuesday.Fifth.build}}<br><br><b>{{Tuesday.Fifth.type}}</b></td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.Fifth.lesson}} <br />{{Wednesday.Fifth.teacher}}<br /> {{Wednesday.Fifth.room}}{{Wednesday.Fifth.build}}<br><br><b>{{Wednesday.Fifth.type}}</b></td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.Fifth.lesson}} <br />{{Thursday.Fifth.teacher}}<br /> {{Thursday.Fifth.room}}{{Thursday.Fifth.build}}<br><br><b>{{Thursday.Fifth.type}}</b></td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.Fifth.lesson}} <br />{{Friday.Fifth.teacher}} <br />{{Friday.Fifth.room}}{{Friday.Fifth.build}}<br><br><b>{{Friday.Fifth.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.Fifth.lesson}} <br />{{Saturday.Fifth.teacher}}<br /> {{Saturday.Fifth.room}}{{Saturday.Fifth.build}}<br><br><b>{{Saturday.Fifth.type}}</b></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="First" ng-controller='SecondCtrl'>
                    <!--Second week-->
                    <center>
                        <h1>Вторая неделя</h1>
                    </center>
                    <!-- <h1 ng-controller="DateCtrl">qeq</h1> -->
                    <div class="table-responsive" ng-init="time = {{time}}">
                        <table class="table table-hover  table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="day">Понедельник</th>
                                    <th class="day">Вторник</th>
                                    <th class="day">Среда</th>
                                    <th class="day">Четверг</th>
                                    <th class="day">Пятница</th>
                                    <th class="day">Суббота</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <center>Первая пара <br>8:30
                                            <div class="timeline"></div>10:05</th>
                                    </center>
                                    <td ng-class="{'date': time == 1}"><b>{{Monday.First.lesson}}</b><br />{{Monday.First.teacher}}<br />{{Monday.First.room}}{{Monday.First.build}}<br><br><b>{{Monday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 2}"><b>{{Tuesday.First.lesson}}</b> <br />{{Tuesday.First.teacher}} <br />{{Tuesday.First.room}}{{Tuesday.First.build}}<br><br><b>{{Tuesday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.First.lesson}}</b> <br />{{Wednesday.First.teacher}} <br />{{Wednesday.First.room}}{{Wednesday.First.build}}<br><br><b>{{Wednesday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.First.lesson}}</b> <br />{{Thursday.First.teacher}} <br />{{Thursday.First.room}}{{Thursday.First.build}}<br><br><b>{{Thursday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.First.lesson}}</b> <br />{{Friday.First.teacher}} <br />{{Friday.First.room}}{{Friday.First.build}}<br><br><b>{{Friday.First.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.First.lesson}}</b> <br />{{Saturday.First.teacher}} <br />{{Saturday.First.room}}{{Saturday.First.build}}<br><br><b>{{Saturday.First.type}}</b></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <center>Вторая пара <br>10:25
                                            <div class="timeline"></div>12:00</th>
                                    </center>
                                    <td ng-class="{'date': time == 1}"> <b>{{Monday.Second.lesson}} </b><br />{{Monday.Second.teacher}}<br /> {{Monday.Second.room}}{{Monday.Second.build}}<br><br><b>{{Monday.Second.type}}</b></td>
                                    <td ng-class="{'date': time == 2}"> <b>{{Tuesday.Second.lesson}}</b> <br />{{Tuesday.Second.teacher}} <br />{{Tuesday.Second.room}}{{Tuesday.Second.build}}<br><br><b>{{Tuesday.Second.type}}</td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.Second.lesson}}</b> <br />{{Wednesday.Second.teacher}} <br />{{Wednesday.Second.room}}{{Wednesday.Second.build}}<br><br><b>{{Wednesday.Second.type}}</b></td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.Second.lesson}}</b> <br />{{Thursday.Second.teacher}}<br /> {{Thursday.Second.room}}{{Thursday.Second.build}}<br><br><b>{{Thursday.Second.type}}</b></td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.Second.lesson}}</b> <br />{{Friday.Second.teacher}} <br />{{Friday.Second.room}}{{Friday.Second.build}}<br><br><b>{{Friday.Second.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.Second.lesson}}</b> <br />{{Saturday.Second.teacher}}<br /> {{Saturday.Second.room}}{{Saturday.Second.build}}<br><br><b>{{Saturday.Second.type}}</b></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <center>Третья пара <br>12:20
                                            <div class="timeline"></div>13:55</th>
                                    </center>
                                    <td ng-class="{'date': time == 1}"> <b>{{Monday.Third.lesson}}</b> <br />{{Monday.Third.teacher}}<br /> {{Monday.Third.room}}{{Monday.Third.build}}<br><br><b>{{Monday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 2}"><b>{{Tuesday.Third.lesson}}</b> <br />{{Tuesday.Third.teacher}} <br />{{Tuesday.Third.room}}{{Tuesday.Third.build}}<br><br><b>{{Tuesday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.Third.lesson}}</b> <br />{{Wednesday.Third.teacher}}<br /> {{Wednesday.Third.room}}{{Wednesday.Third.build}}<br><br><b>{{Wednesday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.Third.lesson}}</b> <br />{{Thursday.Third.teacher}}<br /> {{Thursday.Third.room}}{{Thursday.Third.build}}<br><br><b>{{Thursday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.Third.lesson}}</b> <br />{{Friday.Third.teacher}}<br /> {{Friday.Third.room}}{{Friday.Third.build}}<br><br><b>{{Friday.Third.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.Third.lesson}}</b> <br />{{Saturday.Third.teacher}} <br />{{Saturday.Third.room}} <br><br> <b>{{Saturday.Third.type}}</b></td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <center>Четвертая пара <br>14:15
                                            <div class="timeline"></div>15:50</th>
                                    </center>
                                    <td ng-class="{'date': time == 1}"><b>{{Monday.Fourth.lesson}}</b> <br />{{Monday.Fourth.teacher}} <br />{{Monday.Fourth.room}}{{Monday.Fourth.build}}<br><br><b>{{Monday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 2}"><b>{{Tuesday.Fourth.lesson}}</b> <br />{{Tuesday.Fourth.teacher}} <br />{{Tuesday.Fourth.room}}{{Tuesday.Fourth.build}}<br><br><b>{{Tuesday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.Fourth.lesson}}</b> <br />{{Wednesday.Fourth.teacher}} <br />{{Wednesday.Fourth.room}}{{Wednesday.Fourth.build}}<br><br><b>{{Wednesday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.Fourth.lesson}}</b> <br />{{Thursday.Fourth.teacher}}<br /> {{Thursday.Fourth.room}}{{Thursday.Fourth.build}}<br><br><b>{{Thursday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.Fourth.lesson}}</b> <br />{{Friday.Fourth.teacher}} <br />{{Friday.Fourth.room}}{{Friday.Fourth.build}}<br><br><b>{{Friday.Fourth.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.Fourth.lesson}}</b> <br />{{Saturday.Fourth.teacher}}<br /> {{Saturday.Fourth.room}}{{Saturday.Fourth.build}} <br><br><b>{{Saturday.Fourth.type}}</b></td>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <center>Пятая пара <br>16:10
                                            <div class="timeline"></div>17:45</th>
                                    </center>
                                    <td ng-class="{'date': time == 1}"><b>{{Monday.Fifth.lesson}}</b> <br />{{Monday.Fifth.teacher}} <br />{{Monday.Fifth.room}}{{Monday.Fifth.build}}<br><br><b>{{Monday.Fifth.type}}</b></td>
                                    <td ng-class="{'date': time == 2}"><b>{{Tuesday.Fifth.lesson}}</b> <br />{{Tuesday.Fifth.teacher}} <br />{{Tuesday.Fifth.room}}{{Tuesday.Fifth.build}}<br><br><b>{{Tuesday.Fifth.type}}</b></td>
                                    <td ng-class="{'date': time == 3}"><b>{{Wednesday.Fifth.lesson}}</b> <br />{{Wednesday.Fifth.teacher}}<br /> {{Wednesday.Fifth.room}}{{Wednesday.Fifth.build}}<br><br><b>{{Wednesday.Fifth.type}}</b></td>
                                    <td ng-class="{'date': time == 4}"><b>{{Thursday.Fifth.lesson}}</b> <br />{{Thursday.Fifth.teacher}}<br /> {{Thursday.Fifth.room}}{{Thursday.Fifth.build}}<br><br><b>{{Thursday.Fifth.type}}</b></td>
                                    <td ng-class="{'date': time == 5}"><b>{{Friday.Fifth.lesson}}</b> <br />{{Friday.Fifth.teacher}} <br />{{Friday.Fifth.room}}{{Friday.Fifth.build}}<br><br><b>{{Friday.Fifth.type}}</b></td>
                                    <td ng-class="{'date': time == 6}"><b>{{Saturday.Fifth.lesson}}</b> <br />{{Saturday.Fifth.teacher}}<br /> {{Saturday.Fifth.room}}{{Saturday.Fifth.build}}<br><br><b>{{Saturday.Fifth.type}}</b></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-12" ng-controller='FirstCtrl'>
                <div class="list">
                    <div class="listDay">
                        <h1>Понедельник</h1>
                        <p> 1 {{Monday.First.lesson}} {{Monday.First.teacher}} {{Monday.First.room}}{{Monday.First.build}} <br/> 2 {{Monday.Second.lesson}} {{Monday.Second.teacher}} {{Monday.Second.room}}{{Monday.Second.build}} <br/>3 {{Monday.Third.lesson}}
                            {{Monday.Third.teacher}} {{Monday.Third.room}}{{Monday.Third.build}} <br/>4 {{Monday.Fourth.lesson}} {{Monday.Fourth.teacher}} {{Monday.Fourth.room}}{{Monday.Fourth.build}}<br/>5 {{Monday.Fifth.lesson}} {{Monday.Fifth.teacher}}
                            {{Monday.Fifth.room}}{{Monday.Fifth.build}}</p>
                        <h1>Вторник</h1>1 {{Tuesday.First.lesson}} {{Tuesday.First.teacher}} {{Tuesday.First.room}}{{Tuesday.First.build}}<br/>2 {{Tuesday.Second.lesson}} {{Tuesday.Second.teacher}} <br/>{{Tuesday.Second.room}}{{Tuesday.Second.build}}<br/>3 {{Tuesday.Third.lesson}}
                        {{Tuesday.Third.teacher}}
                        {{Tuesday.Third.room}}{{Tuesday.Third.build}} <br/>4 {{Tuesday.Fourth.lesson}} {{Tuesday.Fourth.teacher}} {{Tuesday.Fourth.room}}{{Tuesday.Fourth.build}}<br/> 5 {{Tuesday.Fifth.lesson}} {{Tuesday.Fifth.teacher}}{{Tuesday.Fifth.room}}{{Tuesday.Fifth.build}}
                        <h1>Среда</h1>1 {{Wednesday.First.lesson}} {{Wednesday.First.teacher}}{{Wednesday.First.room}}{{Wednesday.First.build}} <br/>2 {{Wednesday.Second.lesson}} {{Wednesday.Second.teacher}} {{Wednesday.Second.room}}{{Wednesday.Second.build}} <br/>3{{Wednesday.Third.lesson}}
                        {{Wednesday.Third.teacher}} {{Wednesday.Third.room}}{{Wednesday.Third.build}} <br/>4 {{Wednesday.Fourth.lesson}} {{Wednesday.Fourth.teacher}} {{Wednesday.Fourth.room}}{{Wednesday.Fourth.build}} <br/> 5 {{Wednesday.Fifth.lesson}} {{Wednesday.Fifth.teacher}}
                        {{Wednesday.Fifth.room}}{{Wednesday.Fifth.build}}
                        <h1>Четверг</h1>1 {{Thursday.First.lesson}} {{Thursday.First.teacher}} {{Thursday.First.room}}{{Thursday.First.build}} <br/> 2 {{Thursday.Second.lesson}} {{Thursday.Second.teacher}} {{Thursday.Second.room}}{{Thursday.Second.build}}<br/>3 {{Thursday.Third.lesson}}
                        {{Thursday.Third.teacher}}
                        {{Thursday.Third.room}}{{Thursday.Third.build}}<br/>4 {{Thursday.Fourth.lesson}} {{Thursday.Fourth.teacher}} {{Thursday.Fourth.room}}{{Thursday.Fourth.build}}<br/> 5  {{Thursday.Fifth.lesson}} {{Thursday.Fifth.teacher}} {{Thursday.Fifth.room}}{{Thursday.Fifth.build}}
                        <h1>Пятница</h1>1 {{Friday.First.lesson}} {{Friday.First.teacher}} {{Friday.First.room}}{{Friday.First.build}} <br/>2 {{Friday.Second.lesson}} {{Friday.Second.teacher}} {{Friday.Second.room}}{{Friday.Second.build}}<br/>3  {{Friday.Third.lesson}} {{Friday.Third.teacher}}
                        {{Friday.Third.room}}{{Friday.Third.build}}<br/> 4  {{Friday.Fourth.lesson}} {{Friday.Fourth.teacher}} {{Friday.Fourth.room}}{{Friday.Fourth.build}} <br/> 5 {{Friday.Fifth.lesson}} {{Friday.Fifth.teacher}} {{Friday.Fifth.room}}{{Friday.Fifth.build}}
                        <h1>Субботу</h1>1  {{Saturday.First.lesson}} {{Saturday.First.teacher}} {{Saturday.First.room}}{{Saturday.First.build}} <br/> 2 {{Saturday.Second.lesson}} {{Saturday.Second.teacher}} {{Saturday.Second.room}}{{Saturday.Second.build}} <br/> 3 {{Saturday.Third.lesson}}
                        {{Saturday.Third.teacher}}
                        {{Saturday.Third.room}}{{Saturday.Third.build}} <br/> 4 {{Saturday.Fourth.lesson}} {{Saturday.Fourth.teacher}} {{Saturday.Fourth.room}}{{Saturday.Fourth.build}} <br/> 5 {{Saturday.Fifth.lesson}} {{Saturday.Fifth.teacher}} {{Saturday.Fifth.room}}{{Saturday.Fifth.build}}
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger alert-dismissable">
            <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
            <strong>Внимание!</strong> Приматы, помним про философию на пятой паре! З.Ы. Просто леньки менять :3
        </div>
    </div>


</body>


</html>
