/*.tables {
    position: absolute;
    padding-top: 3%;
    left: 14%;
    display: none;
    overflow: x;
}*/

.table li {
    margin-right: 5%;
    list-style: none;
}

ul {
    display: -webkit-inline-box;
}

.day {
    /*background-color: black;*/
    background: #3372DF;
    color: white;
}

.date {
    background: #E9E6C3;
}

table {
    /*table-layout: fixed;*/
    max-width: 100%; 
    overflow: auto;

}

.timeline {
    border-right: 2px solid #3372DF;
    min-height: 50px;
    width: 2px;
    margin: 0 auto;
}
body
{
  background-color: floralwhite;
}
#kek
{
  color:red;
}
.listaDay
{
  background-color: white;
  color:red;
}
