@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');


body
{
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;


	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	

	margin-top: 70px;
}

h1,h2,h3,h4,h5,h6
{
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

p
{
	line-height: 28px;
	margin-bottom: 25px;
}

.centered
{
	text-align: center;
}

a
{
	text-decoration: none;
	color: #f85c37;
}

a:hover,
a:focus
{
	color: #7b7b7b;
	outline: none;
}

hr
{
	margin: 1em 0;
	padding: 0;
}

.navbar 
{
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}


.navbar-iverse
{
	background-color: #2d2d2d;
	border-color: #2d2d2d;
}
.fa-circle
{
	color: #ff7878;
}

.nav a
{
	font-family: Arial !important;
	font-size: 14px;
	line-height: 20px;
	font-weight: 800;
}

.active a 
{
	background-color: #ff7878 !important;
	transition: .2s;
}

.active a:hover
{
	background-color: #333 !important;
	transition: .2s;
}

.navbar-iverse .navbar-brand
{
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

#headerwrap
{
	background: url('img/head.png') no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;


	-webkit-background-size: cover;
	background-size: cover;
}

#headerwrap h1
{
	margin-top: 100px;
	color: white;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2
{
	color: white;
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
}



#skill
{
	margin-top: 65px;
}

.fa-heart
{
	color: #FF7878;
}





#works
{
	background-color: #E0E0E0;
	height: 625px;
}

#works h4
{
	margin-top: 78px;
	font-weight: bold;
	color: #333333 !important;
}

#works div:nth-child(1) img:hover,
#works div:nth-child(3) img:hover
{
	transform: rotate(15deg);
	transition: .2s;
}

#works div:nth-child(2n) img:hover
{
	transform: rotate(360deg);
 	transition: .7s;
}