@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html,body
{
	padding: 0;
	margin: 0 auto;
}

body
{
	width: 100%;
	height: 100%;
	/* background-color: red; */
}


/* header */
.head 
{
	display: flex;
	align-items: center;
}

.about
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.head ul>li
{
	width: 265px;
	height: 20px;
	color: #565656;
	/* font-family: "Segoe WPN"; */
	font-size: 19px;
	font-weight: 300;
	line-height: 36px;
	display: flex;
	display: inline;
	padding-right: 20px;
} 



#minimal
{
	position: relative;
	left: 221px;
	color: #008d8d;
	/* width: 121px; */
	font-size: 43px;
	font-weight: 400;
	line-height: 36px;
	font-family: 'Open Sans';
}

.about li:nth-child(2), .about li:nth-child(1)
{
	border-right: 2px grey solid;
}

.about li:nth-child(2)
{
	padding-left: 10px;
	padding-right: 10px;
}



/* first  stage*/
.first
{
	width:  100%;
	height: 539px;
	background-image: url(../img/first.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#phone
{
	padding-left: 296px;
	padding-top: 59px;
	padding-bottom: 34px;
}

#gadget
{
	/* padding-left: 923px; */
	/* padding-bottom: 416px; */
	float: right;
}

#info
{
	padding-bottom: 110px;
	padding-left: 106px;
	clear: both;
	/* padding-left: 642px; */
}

/* second */

.second
{
	width: 100%;
	height: 780px;
	background-color: #fff;
}

.title
{
	margin: 0 auto;
	width: 70%;	
	text-align: center;
	color: #9f9f9f;
}

.title>h1
{
	color: #636363;
}

#circle
{
	padding-top: 39px;
}


/* third */
.third
{
	width: 100%;
	height: 513px;
}

.right
{
	width: 496px;
	height: 513px;
	float: right;
	background-color: #49d7b0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left
{
	height: 513px;
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
}