/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

//@import '../../components/variables.css';

.Registration__root {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Open Sans";
}

.Registration__container {
    margin: 0 auto;
    padding: 0 0 40px;
    max-width: 380px;
}

.Registration__formGroup {
    //margin-bottom: 25px;
  border: #bfc0c2;
  padding-top: 26px;
  text-align: center;
}

.Registration__label {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
    font-weight: 700;
}

.Registration__inputReg {
    display: block;
    font-family: "Roboto Light";
    text-align: center;
    box-sizing: border-box;
    padding: 10px 16px;
    width: 100%;
    height: 46px;
    outline: 0;
    border: 1px solid rgba(0, 110, 170, 1);
    border-radius: 10px;
    background: #fff;
    outline: none;
    font-size: 20px;
    line-height: 1.3333333;
    color: #505050;
}

.Registration__input:focus {
    //border-color: #0074c2;
    outline: none;
    //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 116, 194, 0.6);
}

::-webkit-input-placeholder {
  color: #e7e7e7;
  font-family: 'Roboto Light';
  font-size: 20px;
}

.Registration__button {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 16px;
    outline: 0;
    //background: rgba(0, 168, 62, 1);
    background: linear-gradient(#00c746, #00a13c);
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 1.3333333;
    cursor: pointer;
    border-radius: 14px;
    outline: none;
    border: 1px solid #008c50;
    font-size: 24px;
    //width: 80%;
    margin: 0 auto;
}

.Registration__button:hover {
    //background: rgba(54, 50, 119, 0.8);
}

.Registration__button:focus {
    //border-color: #0074c2;
    box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}

//.Registration__forget {
//    text-decoration: none;
//}
//
//.Registation__forget:hover {
//    text-decoration: underline;
//}

//.Registration__forgetGroup {
//  text-align: right;
//}

.Registration__passed {
    border-color: #00e646;
}

.Registration__failed {
    border-color: #d20000;
}

.Registration__failed-label {
  color: #d20000;
  font-family: 'Roboto Light';
  font-size: 14px;
}

.Registration__progressbar {

}

.Registration__progress {
    width: 0%;
    background: red;
}

header {
  background: #0078b4;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Registration__sub-title {
  color: rgba(0, 110, 170, 1);
  font-family: "Roboto";
  font-size: 22px;
  text-align: center;
  margin: 0;
  padding-top: 26px;
}

.Registration__logo {
  margin: 0 auto;
  padding: 44px 24% 0 24%;
  max-width: 180px;
}

.Registration__header-blue {
  height: 86px;
  background: rgba(0, 110, 170, 1);
}

.Registration__sub-wrapper {
  padding: 0 8%;
}


@media screen and (max-width: 340px) {
  .Registration__sub-wrapper {
    padding: 0%;
  }
}
