html
{
	/* overflow: hidden; */
}

.container
{
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}


.shaped
{
	float: right;
	height: 100vh;
	width: 40vw;
	/* background-color: black url(https://sarasoueidan.com/demos/css-shapes-layouts/demo-1/images/eiffel.jpg) center top no-repeat; */
	background-image: url('https://sarasoueidan.com/demos/css-shapes-layouts/demo-1/images/eiffel.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
	shape-margin: 20px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}


./* circle
{
	float: left;
	overflow: hidden;
	width:600px;
  	height:900px;
	shape-inside: circle(400px, 60px, 160px);
	shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	-webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	background-color: yellow;
} */