body
{
	background-color: #224066;
}

#maslou
{
	position: absolute;
	top: 20%;
	left: 7%;

}

/* @keyframes  test-stance
{
	from {
		font-size: 30px;
		color: white;
	}

	to
	{
		font-size: 50px;
		color: green;
		opacity: 0.3;
	}
}
 */

/* #test
{
	font-size: 25px;
	animation-name: test-stance;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	color:  white;
}
 */
#hero
{
	width: 250px;
	height: 358px;
	position: relative;
	left: 100px;
	top: 300px;

}

@keyframes hero-stance
{
	from {
		top: 0;
	}

	to{
		top: -10px;
	}
}


#hero .stance
{
	visibility: hidden;
	background-image: url(herofront_nocape.png);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	z-index: 2;
	animation-name: hero-stance;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

#hero .attack
{
	visibility: hidden;
	background-image: url(heroright_nocape.png);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	z-index: 2;
}

#hero.idle .stance
{
	visibility: visible;
}

#hero.attack .attack
{
	visibility: visible;
	top: -30px;
}

@keyframes shadow
{
	from {
		width: 250px;
	}

	to{
		width: 225px;
		left: 12.5px;
	}
}


#hero .shadow
{
	background-image: url(heroshadow.png);
	background-size: 100%;
	position: absolute; 
	width: 250px;
	height: 84px;
	background-repeat: no-repeat;
	left: 0;
	bottom: -50px;
	z-index: 1;
	animation-name: shadow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

#hero.attack .shadow
{
	animation-name: none;
	width: 225px;
	left: 12.5px;
}

#hero .text
{
	position: absolute;
	left: 130%;
	font-size: 60px;
	font-weight: thin;
	color: white;
	width: 300px;
	top: -10px;
}

@keyframes laser
{
	from {
		width: 175px;
	}
	to{
		width: 350px
	}
}

#hero .laser
{
	position: absolute;
	left: 145px;
	top: 5.8%;
	background-image: url(beam.png);
	width: 500px;
	height: 60px;
	z-index: 3;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation-name: laser;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	/* animation-direction: alternate; */
	animation-timing-function: ease-in-out;

}

#hero .laser::after
{
	content: " ";
	position: absolute;
	width: 3px;
	height: 100%;
	background-color: #FFE500;
	right: 0;
	top: 1px;
	box-shadow: 0 0 10px 3px #FFE500;
	border-radius: 3px;
}