body
{
	/* min-height: 100vw; */
	/* vertical-align: middle; */
}

.wrapper
{
	position: relative;
	max-width: 940px;
	overflow: hidden;
	/* background-size: 100%; */
	margin: 0 auto;
}

img 
{
	position: relative;
	display: block;
	z-index: 10;
	max-width: 100%;
    width: 100%;
    height: auto;
}

.test
{
	min-height: 940px;
	min-width: 940px;
	background-image: url('pattern.png');
	/* background-size: 50%; */
	background-repeat: space;
	/* background-position: center center; */
	position: absolute;
	top: 0;
	/* left: -10%; */
	z-index: 1;
	animation-name: heronumber;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	left: 0;
	right: -100%;
	bottom: 0;
}


@keyframes heronumber
{


	100% {
	    /* z-index: 10; */
	    transform: translateX(-50%) translateZ(0);
	}
}