/* optional */

body,html
{
  padding: 0;
  margin: 0;
}

/* optional */
body {
  background-color: #F8ECC2;
  font-family: Arial, sans-serif;
}

nav {
  width: 100%;
  background-color:#65A8A6;
}

nav ul li {
  display:inline-block;  
}

nav a {
  color:#F8ECC2;
  display:block;
  text-decoration: none;
  padding:20px 30px;
 }

nav a:hover {
  background: #E65540;
}

nav ul
{
  padding-left: 0;    /*be very attentive with this style!*/
}

.menu-trigger {
  display:none;
  color:#F8ECC2;
}

@media screen and (max-width:500px) {
  .menu-trigger {
    display:block;
  }
  nav ul li {
    display:block;
    border-top:1px #79896D solid;    
  }
  nav ul {
    display:none;
  }
}