@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../assets/fonts/Roboto-Light.ttf);
}

body {
  //background-color: #0f0;
  margin: 0;
  font-family: 'Open Sans';
}

#map {
  width: 500px;
  height: 100vh;
}


.App-header {
  background-color: #0078b4;
  height: 20%;
}