*
{
	margin: 0;
	padding: 0;
	outline: none;
}
.container
{
	width: 940px;
	margin: 0 auto;
}

.nav a
{
	text-transform: uppercase;
}

#header
{
	position: absolute;
	top: 20px;
	width: 100%;
	padding: 20px 0;
}

.logo
{
	float: left;
}

.nav
{
	float: right;
	padding-top: 5px;
	display: flex;
	align-items: center;
}

.nav li
{
	float: left;
	/* display: inline-block; */
	margin-right: 40px;
	list-style: none;
}

.nav li a:hover
{
	color: #c7a632;
}

.nav li a,
.nav li a:visited,
.nav li a:active
{
	text-decoration: none;
	color: #f1f1f1;
	font-family: Arial,sans-serif;
	font-size: 14px;
}

.nav li:last-chlid
{
	margin-right: 0;
}


.clearfix:before,
.clearfix:after
{
	content: " ";
	display: table;
}

.clearfix:after
{
	clear: both;
}


#home
{
	height: 700px;
	padding-top: 270px;
	text-align: center;
	background: #222 url('img/background-image.png') no-repeat center bottom;
	background-size: cover;
	color: #fff;
}

#home h3
{
	margin-bottom: 40px;
	/* font-family: arial, sans-serif;
	font-size: 40px; */
	font: 40px/40px Arial, sans-serif;
}

#home h1
{
	font: 75px/75px Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.btn
{
	display: inline-block;
	padding: 20px 30px;
	background-color: #fed136;
	font: bold 24px/24px Arial, sans-serif;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn:hover
{
	background-color: #daae17;
	color: #fff;
}

.box
{
	padding: 120px 0;
}

#services
{
	text-align: center;
}

h2.title
{
	text-transform: uppercase;
	color: #222222;
	font-family: Arial,sans-serif;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 10px;
}

h5.title
{
	margin-bottom: 10px;
	font-family: Arial,sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
	color: #222222;
}

#services .descr
{
	color: #777777;
	font-family: "Times New Roman";
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

.services-item
{
	width: 33.33%;
	float: left;
	padding: 90px  0;
}


.services-item p
{
	font-size: 18px;
	color: #777;
	line-height: 24px;
}

.commerce
{
	background: url('img/cashe.png') no-repeat center top;
}
.responsive
{
	background: url('img/good.png') no-repeat center top;
}

.security
{
	background: url('img/lock.png') no-repeat center top;
}

.services-wrap,
.portfolio-wrap,
.about-wrap
{
	padding-top: 70px;
}


#portfolio
{
	text-align: center;
	background-color: #F7F7F7;
}

.portfolio-item
{
	float: left;
	width: 31%;
	margin-right: 3.5%;
	margin-bottom: 50px;
	background-color: #fff;
}

.portfolio-item:nth-child(3n)
{
	margin-right: 0;
}

.p-item-footer
{
	padding: 25px 20px;
}


.p-item-footer h5.title
{
	margin-bottom: 4px;
}

.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3)
{
	margin-bottom: 0;
}



#about
{
	text-align: center;
}

.about-text
{
	width: 35%;
}

.about-img
{
	width: 30%;
}

.about-text h5
{
	line-height: 24px;
}


.about-text p
{
	font-size: 16px;
	color: #777777;
	line-height: 24px;
}


.about-img img,
.about-link
{
	display: inline-block;
	width: 170px;
	height: 170px;
	border: 7px #f1f1f1 solid;
	border-radius: 50%;
}

.about-img:after
{
	content: ' ';
	display: block;
	margin: 0 auto;
	height: 94px;
	width: 3px;
	background-color: #f1f1f1;
}

.about-link
{
	background-color: #fed233;
	text-transform: uppercase;
	font:  bold 18px/24px Arial,sans-serif;
	color: #ffffff;
	/* padding-top: 30px; */
}

#story
{
	height: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-link
{
	text-decoration: none;
}

/* help classes */

.left
{
	float: left;
}

.right	
{
	float: right;
}

.text-right
{
	text-align: right;
}

.text-left
{
	text-align: left;
}


/* -------- */



#team
{
	text-align: center;
}

#team h1.tittle
{
	color: #222222;
	font-family: Arial;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}




.photo
{
	margin-top: 76px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.photo p
{
	color: #777777;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 15px;
}

.photo h5.title
{
	margin-top: 19px;
	color: #222222;
	font-size: 16px;
	font-weight: 700;
}

.small-link
{
	padding-left: 3px;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

.team-title p
{
	width: 494px;
	color: #777777;
	font-family: "Times New Roman";
	font-size: 16px;
	font-weight: 400;
}
.team-title
{
	margin-top: 52px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.logotype
{
	height: 42px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


#contact
{
	text-align: center;
	background-image: url('img/map.png');
	background-size: cover;
	background-position: top center;
	background-color: #1d1d1d;
}

#contact h1
{
	color: #ffffff;
	font-family: Arial;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 24px;
}

#contact p
{
	color: #777777;
	font-family: "Times New Roman";
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 76px;
}

.input
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input input
{
	width: 457px;
	height: 52px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin-bottom: 27px;
	font-family: Arial;
	font-size: 26px;
}

.input input::placeholder,
.message textarea::placeholder
{
	color: #bbbbbb;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

textarea
{
	width: 459px;
	height: 213px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	resize: none;
	font-family: Arial;
	font-size: 20px;
}

.message
{
	display: flex;
	justify-content: space-around;
}

#contact .btn
{
	margin-bottom: 155px;
}


*::selection
{
	background-color: red;
}

.footer
{
	background-color: #fff;
	height: 90px;
	display: flex;
	align-items: center;
}



/* #services .picture
{
	height: 305px;
	padding-top: 70px;
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.picture p
{
	color: #777777;
	font-family: "Times New Roman";
	font-size: 18px !important;
	font-weight: 400;
}

.picture>div
{
	margin-right: 10px !important;
} */