/* fonts */
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');
@import url('https://fonts.googleapis.com/css?family=Timmana');


/* optional */

body,html
{
  padding: 0;
  margin: 0;
}

/* optional */
body {
  background-color: #61D095;
  font-family: Arial, sans-serif;
}

img
{
	border-radius: 25px;
}

hr
{
	margin-bottom: 0 !important;
}

nav {
  width: 100%;
  /* background-color:#65A8A6; */
  background-color: snow;
}

nav ul li {
  display:inline-block;  
}

nav a {
  /* color:#F8ECC2; */
  color: #E04246;
  display:block;
  text-decoration: none;
  padding:20px 30px;
  /* font-weight: bold; */
 }

nav a:hover {
  background: #E65540;
  text-decoration: none;
}

nav ul
{
  padding-left: 0;    /*be very attentive with this style!*/
}

.menu-trigger {
  display:none;
  /* color:#F8ECC2; */
  color: #E04246;
}

@media screen and (max-width:500px) {
  .menu-trigger {
    display:block;
  }
  nav ul li {
    display:block;
    border-top:1px #79896D solid;    
  }
  nav ul {
    display:none;
  }
}


/* first style */

.first,.second,.wish
{
	text-align: center;
	/* min-height:  115vh; */
}

.first h1 
{
	/* display: inline; */
	color: #E04246;
	/* font-weight: 800; */
	font-family: 'Rubik Mono One', sans-serif;
}


.sorry
{
	/* color: #333; */
	/* transition: 1s; */
	font-family: 'Rubik Mono One', sans-serif;
	color: #E04246;
	border-bottom: 3px #E04246 dashed;
	font-weight: 200;
	transition: 0.2s;
}





/* second style */

/* .second 
{
	min-height:  100vh;
}
 */
.second h1
{
	font-family: 'UnifrakturCook', cursive;
	text-transform: uppercase;
}	

.second #clasico
{
	color: #48BF84;
}



/* wish */

.wish
{
	min-height: 100vh;
	/* background-color: #42B983; */
	/* display: flex; */
}

.wish h1
{
	margin-top:  20px;
	display: inline;
	font-family: 'Timmana', sans-serif;
	/* text-transform: uppercase; */
}


.wish .title
{
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wish blockquote
{
	border-left: none;
}


/* test */

.main {
    width: 100%;
    height: 100%;
    min-height: 100vh;         /* Important! U must  indicate div size*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}



/* ADAPTIVE FONTS */

@media (min-width: 480px) {
  :root {
    font-size: calc(1rem + ((1vw - 4.8px) * 1.1111));
  }
}
@media (min-width: 1920px) {
  :root {
    font-size: 32px;
  }
}



/* MORE ADAPTIVE */



